body {
  font-family: Arial;
  font-size: 120%;
}

a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

.choices {
  /* text-align: center; */
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 100%;
  border: 0;
  border-radius: 5px;
  background-color: #563d7c;
  color: white;
}
.choice-prefix {
  padding: 0.5rem;
  background-color: white;
  color: #563d7c;
  border-radius: 5px;
}

.choice-text {
  padding: 0.5rem;
  width: 100%;
}
.hide {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

/* .start {
  display: block;
  text-align: center;
} */

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}
